@font-face{
font-family: 'thunder';
src: url(../fonts/thunder.otf) format('opentype'); 
font-style: normal; 
}

@font-face{
font-family: 'lato-reg';
src: url(../fonts/lato/lato-regular.ttf) format('opentype'); 
font-style: normal; 
}

@font-face{
font-family: 'lato-light';
src: url(../fonts/lato/lato-light.ttf) format('opentype'); 
font-style: normal; 
}

/*
  font-family: myFirstFont;
  src: url(sansation_light.woff);
*/
/*https://www.w3schools.com/css/css3_fonts.asp*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    background:#222223;
    font-family: 'lato-reg';
}

::selection {
  background: #48ffcc;
}

.nodesktop{
    display: none;
}

.title{
    font-family: 'thunder';
    color: #ffffff;
    font-size: 180px;
    line-height: 50px;
    transition: color 0.2s;
    display: inline-flex;
	align-content: flex-end;
}

p{
    font-family: 'lato-light';
    color: #ffffff;
    font-size: 19px;
    line-height: 25px;
}

h2{
    color: #ffffff;
    font-family: 'lato-reg'; 
    font-size: 20px;
    line-height: 25px;
}

.push{
    margin-top: 70px;
}

.details{
    font-family: 'lato-reg';
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
    transition: color 0.2s;
    display: inline-flex;
	align-content: flex-end;
}

.leftpush{
    margin-left: 20px;
    z-index: 1;
}

.toppush{
    margin-top: 25px;
}

.creditspush{
    margin-top: 200px;
}

.arrowup{
    margin-top: -15px;
}

.blankspace{
    height: 80px;
}

.menu{
    padding-left: 80px; 
    display: inline-flex;
	align-content: flex-end;
    z-index: 1;
}

.werk{
    color: #ffffff;
    font-family: 'lato-reg'; 
    font-size: 20px;
    line-height: 25px;
    transition: color 0.2s;
}

hr{
   background-color: #48ffcc; 
}

.info{
    padding-left: 25px;
}


li {
  display: inline;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #48ffcc;
    text-decoration: none;
}

.underrule{
    margin-top: 30px;
}

hr.lastrule{
    height: 20px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: none;
}

.titlepush{
    margin-top: 120px;
}

.big{
    font-size: 80px;
    line-height: 150px;
}

.emptyspace{
    height: 130px;
}

.beforedeets{
    height: 70px;
}

.tops{
    margin-top: 10px;
}

hr.lines {
    border-top: .5px solid rgba(255, 255, 255, 1);
    border-bottom: .5px solid rgba(255, 255, 255, 1);
}

.afterdeets{
    height: 40px;
}

.icons{
   height: 40px; 
   margin-top: -30px;
}

.leftie{
    margin-left: 65px;
}

.leftiee{
    margin-left: 130px;
}

.leftieee{
    margin-left: 175px;
}

.swap{
  position: relative;	
  margin:  0 auto;
}

.swap img{
  position: absolute;
  overflow: hidden;
}

.swap .front1{
  z-index: 2;
}

.swap:hover .front1{
  opacity: 0;
}

.swap .front2{
  z-index: 2;
}

.swap:hover .front2{
  opacity: 0;
}

.swap .front3{
  z-index: 2;
}

.swap:hover .front3{
  opacity: 0;
}

.swap .front4{
  z-index: 2;
}

.swap:hover .front4{
  opacity: 0;
}

a:hover.details{
    color: #48ffcc;
}

.homevid{
    margin-top: -50px;
    z-index: 0;
}

.contacts{
    margin-top: -45px;
}

.nomobile{
    display: block;
}



/*MEDIA QUERY*/

/*MOBILE*/
@media(max-width:576px){

.nodesktop{
    display: block;
}

.nomobile{
    display: none;
}

.leftpush{
    margin-left: 0px;
}

p{
    font-family: 'lato-light';
    color: #ffffff;
    font-size: 19px;
    line-height: 25px;
}
    
    .title{
        font-size: 140px;
    line-height: 50px;
    }
    
.arrowup{
    margin-top: 90px;
}

.contacts{
        margin-top: 20px;
    }

.emptyspace{
    height: 40px;    
}

    .beforedeets{
     height: 40px;
    }
    
    .end{
       height: 90px; 
    }
    
    .mobilevid{
    width: 100%   !important;
    height: auto   !important;
}
    
}

/*iPad*/
@media (min-width: 768px) { 

/*
    .contacts{
        margin-top: 20px;
    }
.nodesktop{
    display: block;
}

.nomobile{
    display: none;
}

.noipad{
    display: none;   
}
*/

}
